/*************/
/* DASHBOARD */
/*************/
.dashboard-container {
  padding: 4rem 3rem 3rem 3rem;
}
.dashboard-hide-modal {
  position: absolute;
  z-index: -1;
}
.dashboard-background {
  width: 100%;
  /* margin-top: 3rem; */
  padding-top: 3rem;
  background-color: #ede3e4;
  /* border-radius: 5px; */
  text-align: -webkit-center;
}
.dashboard-table {
  width: 75rem;
  padding: 2rem;
}
.dashboard-edit {
  width: 1rem;
  cursor: pointer;
}
.dashboard-trash {
  width: 1rem;
  cursor: pointer;
}
.dashboard-quote {
  padding: 0px 10rem;
  padding-top: 2rem;
}

/*************/
/*** MODAL ***/
/*************/
.modal-background {
  /* background-color: rgba(150, 150, 150, 0.8) !important; */
}
.modal-hide {
  color: rgba(150, 150, 150, 0.8);
}
.modal-hidden {
  visibility: hidden;
}
.modal-position {
  position: absolute;
  /* top: -9rem; */
  right: 0;
  left: 0;
  /* bottom: 0; */
  width: 70vw;
  margin: -15rem auto;
}
.modal-container {
  padding: 2rem 3rem;
  background-color: #e4dee4;
  border-radius: 5px;
}
.modal-close {
  text-align-last: end;
  cursor: pointer;
  font-weight: bold;
}

/**************/
/* PAGINATION */
/**************/
ul {
  display: inline-flex;
  list-style-type: none;
}
li {
  padding: 0.2rem 0.8rem;
  border: 1px solid #000000;
  box-sizing: border-box;
}
.pagination-active {
  background: #af9fa5;
  color: white;
}
.pagination {
  background: #ede3e4;
  padding: 0px;
  cursor: pointer;
}

/*************/
/*** TABLE ***/
/*************/
td,
th {
  border: 1px solid #ddd;
  padding: 8px;
}
.dashboard-col {
  width: 5rem;
}
tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #ddd;
}
th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #6ea4bf;
  color: white;
}
.table-action {
  width: 3rem;
  text-align: center;
}
@media (max-width: 600px) {
  .modal-position {
    width: fit-content;
    margin: -34rem -2.85rem;
  }
}
@media (min-width: 601px) and (max-width: 800px) {
  .modal-position {
    width: fit-content;
  }
}
