/*************/
/* DASHBOARD */
/*************/
.dashboard-container {
  padding: 3rem;
}
.dashboard-grid {
  display: grid;
  grid-template-columns: auto auto;
}
.dashboard-button {
  text-align: right;
}
.dashboard-button-disabled {
  background: #92898a;
  border-radius: 5px;
  border: 1px;
  padding: 0.5rem 1.5rem;
  color: grey;
  font-size: 1rem;
}
.dashboard-button-small-view {
  content-visibility: hidden;
}
/*************/
/*** QUOTE ***/
/*************/
.quote-container {
  padding: 0px 10rem;
  padding-top: 2rem;
}
.quote-text {
  text-align: center;
  padding-left: 10px;
}
/*************/
/*** MODAL ***/
/*************/
.modal-grey {
  color: rgba(150, 150, 150, 0.8);
  background-color: rgba(150, 150, 150, 0.8) !important;
}
.modal-position {
  position: absolute;
  /* top: -9rem; */
  right: 0;
  left: 0;
  /* bottom: 0; */
  width: 50%;
  margin: -10rem auto;
}
/*************/
/* SECTION 2 */
/*************/
.section2-background {
  width: 100%;
  min-height: 44vh;
  /* margin-top: 3rem; */
  padding-top: 3rem;
  background-color: #ede3e4;
  /* border-radius: 5px; */
  text-align: -webkit-center;
}
/***********/
/* LOADING */
/***********/
.loading-container {
  padding: 10rem 0rem;
}
/**************/
/*** FILTER ***/
/**************/
.filter-button-container {
  text-align: right;
  padding-right: 2rem;
}
.filter-container {
  /* padding-left: 5px; */
  display: grid;
}
.search-input {
  /* width: 20rem; */
  margin: 5px 0px 2px 0px;
  text-align-last: auto;
}
.search-container {
  text-align: left;
  padding-left: 5rem;
  display: grid;
  grid-template-columns: auto auto auto;
}
/*************/
/*** TABLE ***/
/*************/
.table-container {
  overflow-y: scroll;
}
.table-dashboard {
  width: 90rem;
  padding: 2rem;
}
.table-head {
  text-align-last: center;
}
.table-action {
  width: 3rem;
  text-align: center;
}
.table-update-button {
  text-align: right;
}
.table-icon-container {
  margin: 0px 2px;
}
.table-edit,
.table-trash {
  width: 1rem;
  cursor: pointer;
}
.table-disable-icon {
  width: 1rem;
  cursor: default;
}
.table-disabled {
  overflow: hidden;
}
.table-text-disabled {
  background-color: grey;
  color: lightgrey;
}
.table-contents-disabled {
  pointer-events: none;
}
.table-contents-disabled:nth-child(even) {
  background-color: lightgrey;
}
td,
th {
  /* border: 1px solid #ddd; */
  padding: 8px;
}
tr:nth-child(even) {
  background-color: #f2f2f2;
}
tr:hover {
  background-color: #ddd;
}
th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #92898a;
  color: white;
}

/**************/
/* PAGINATION */
/**************/
ul {
  display: inline-flex;
  list-style-type: none;
}
li {
  padding: 0.2rem 0.8rem;
  border: 1px solid grey;
  box-sizing: border-box;
}
.pagination-active {
  background: #af9fa5;
  color: white;
}
.pagination {
  background: #ede3e4;
  padding: 0px;
  cursor: pointer;
}
/*********/
/* MODAL */
/*********/
.modal-hidden {
  visibility: hidden;
}
.modal-container {
  padding: 2rem 3rem;
  background-color: #e4dee4;
  border-radius: 5px;
  color: black;
}
.modal-close {
  text-align-last: end;
  cursor: pointer;
  font-weight: bold;
}
@media (max-width: 600px) {
  .dash .modal-position {
    width: fit-content;
    margin: -34rem -2.85rem;
  }
  .dashboard-button-small-view {
    content-visibility: inherit;
  }
  .dashboard-button-normal-view {
    content-visibility: hidden;
  }
  .quote-container {
    padding: 0rem 1rem;
  }
  .filter-button-container {
    text-align: center;
    padding-right: 0rem;
  }
  .modal-container {
    padding: 1rem;
  }
  .modal-position {
    width: 95% !important;
    margin: -9rem auto !important;
  }
  .dashboard-button {
    padding-left: 1rem;
  }
  .dashboard-grid {
    display: block;
  }
}
@media (max-width: 800px) {
  .modal-position {
    width: 80%;
  }
}
