.header-container {
  background-color: #e7dfe8;
  padding: 1rem 3rem;
}
.header-grid {
  display: grid;
  grid-template-columns: auto auto;
}
.header-col1 {
  display: flex;
  align-items: center;
}
.header-col2 {
  align-self: center;
  text-align: end;
}
