.header-container {
  background-color: #e7dfe8;
  padding: 1rem 3rem;
  min-height: 3rem;
}
.header-grid {
  display: grid;
  grid-template-columns: auto auto;
}
.header-col1 {
  display: flex;
  align-items: center;
}
.header-dashboard {
  padding: 0px 1rem;
}
.header-col2 {
  align-self: center;
  text-align: end;
}
.header-small {
  content-visibility: hidden;
}

@media (max-width: 600px) {
  .header-small {
    content-visibility: inherit;
  }
  .header-large {
    content-visibility: hidden;
  }
  .header-container {
    padding: 1rem 2rem;
  }
  .header-dashboard {
    padding: 0px;
  }
}
